@keyframes arrow {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes slide-up {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide-down {
  from {
      transform: translateY(-1000px);
  }
  to {
      transform: translateY(0px);
  }
}

.slide-up {
  animation: slide-up 1s ease-in;
}

.slide-down {
  animation: slide-down 2s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
:root {
  --white: #f6f7f8;
  --black: #011627;
  --black--shadow: #000000;
  --red: #ff3366;
  --red--shadow: #af1f43;
  --blue: #20a4f3;
  --green: #2ec4b6;
  --green--shadow: #1b857abe;
}

body {
  background-color: var(--black);
}

.about {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.about h1,
.about h2 {
  color: var(--red);
  font-size: 3em;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10em;
}

.about img {
  width: 450px;
}

.about .card {
  border-radius: 4px;
  margin-bottom: 1.5em;
}

.about i {
  color: var(--red);
  font-size: 3em;
  animation: arrow 1s infinite;
}

.intro {
  padding: 1.5em;
  border: 8px solid var(--red);
  border-radius: 4px;
  background-color: #f5f9e9;
}

.me {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: var(--red);
}
.me img {
  width: 500px;
  border: 1px solid black;
}

.intro {
  box-shadow: 3px 3px 4px 2px var(--red--shadow);
}

.card {
  width: 30%;
  border: 8px solid var(--black);
  background-color: var(--white);
  padding: 1.5em;
}

span {
  font-size: 1.5em;
  font-weight: bold;
}
.skills {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
}
.icon-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  background-color: #011627;
  padding: 1.5em;
  height: 300px;
}

.skill-card {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  width: 20%;
}

.skill-card i {
  font-size: 6em;
  background-color: var(--white);
  padding: 0.1em;
  margin-bottom: 0.25em;
  box-shadow: 3px 3px 4px 2px var(--black--shadow);

  text-align: center;
}

.skill-card p {
  font-size: 1.5em;
  color: var(--green);
  text-align: center;
}

.skills p {
  margin: auto;
  width: 50%;
}

.skills .card {
  margin-bottom: 1.5em;
  background-color: var(--white);
  box-shadow: 3px 3px 4px 2px var(--green--shadow);
}

.skill-span {
  font-size: 1em;
  font-weight: bold;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience i {
  background-color: var(--black);
  text-align: center;
  font-size: 6em;
  color: var(--white);
  height: 300px;
}

.experience .card {
  width: 40%;
}

.education-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 4em;
  background-color: var(--red);
}

.experience .card {
  box-shadow: 3px 3px 4px 2px var(--red--shadow);
}

.experience a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--black);
  background-color: var(--blue);
  align-self: self-end;
  font-weight: bold;
  padding: 1em;
  border: 4px solid var(--black);
}

.experience a:hover {
  background-color: var(--green);
  color: var(--white);
}

.experience a:active {
  background-color: var(--white);
  color: black;
}

.projects {
  display: flex;
  margin: 5em;
  justify-content: center;
}

.goals {
  padding: 1.5em;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.goals-container {
  width: 70%;
}

.goals-container h2 {
  margin-bottom: 1em;
}

.goals-container p {
  padding: 1.5em;
  width: 60%;
}

.goals i {
  font-size: 8em;
  align-self: center;
}
.contact {
  background-color: var(--red);
  width: fit-content;
  margin: auto;
  font-size: 1.5em;
  padding: 1.5em;
}

.contact p {
  margin-bottom: 1.5em;
}

.contact-p {
  font-weight: bold;
  text-decoration: underline;
}

.contact a {
  text-decoration: none;
  padding: 1em;
  color: var(--black);
  background-color: var(--blue);
  font-weight: bold;
  display: block;
  margin: auto;
  width: fit-content;
  border: 8px solid var(--black);
}
